# Dependencies
node_modules

# Build outputs
dist/
dist-electron/
release/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
